#!/usr/bin/env bash

direnv_version 2.27.0

watch_file .env
dotenv .env

case ${MIX_ENV:-dev} in
  prod)
    echo "ENVIRONMENT: production"
    watch_file .env.prod
    dotenv .env.prod
    ;;
  stg)
    echo "ENVIRONMENT: staging"
    watch_file .env.stg
    dotenv .env.stg
    ;;
  dev)
    echo "ENVIRONMENT: development"
    watch_file .env.dev
    dotenv .env.dev
    ;;
esac
