Olá 👋

A nossa próxima sessão já está à porta! Não se esqueça de inscrever os seus
ninjas!

A sessão irá decorrer no dia <%= "#{@event.start_time.day}/#{@event.start_time.month}/#{@event.start_time.year}"%>, entre as <%="#{@event.start_time.hour}:#{@event.start_time.minute}" %> e <%="#{@event.end_time.hour}:#{@event.end_time.minute}" %> 
no <%= @event.location.name %>.

Relembramos que as vagas são limitadas, e que quanto mais cedo os ninjas
forem inscritos, maior é a probabilidade de serem selecionados para a sessão.

Copie este link para o seu browser para inscrever os ninjas:

<%= @link %>