Olá 👋

Informamos que na próxima sessão serás mentor(a) do(a) ninja <%= "#{@ninja.first_name} #{@ninja.last_name}" %>.

A sessão irá decorrer no dia <%= display_date(@event.start_time) %>, entre as <%= display_time(@event.start_time) %> e <%= display_time(@event.end_time) %> 
no <%= @event.location.name %>.

Podes ver o perfil do ninja no seguinte link: <%= @link %>