Olá 👋

A nossa próxima sessão já está à porta! Não te esqueças de confirmar a tua
disponibilidade!

A sessão irá decorrer no dia <%= "#{@event.start_time.day}/#{@event.start_time.month}/#{@event.start_time.year}"%>, entre as <%="#{@event.start_time.hour}/#{@event.start_time.minute}" %> e <%="#{@event.end_time.hour}/#{@event.end_time.minute}" %> 
no <%= @event.location.name %>.

Quantos mais mentores forem à sessão, mais ninjas podemos receber e maior o
impacto do CoderDojo Braga!

Copia este link para o teu browser para mostrares a tua disponibilidade:

<%= @link %>