Olá 👋

A nossa próxima sessão já está à porta! Não te esqueças de confirmar a tua
disponibilidade!

A sessão irá decorrer no dia <%= display_date(@event.start_time) %>, entre as <%= display_time(@event.start_time) %> e <%= display_time(@event.end_time) %> 
no <%= @event.location.name %>.

Quantos mais mentores forem à sessão, mais ninjas podemos receber e maior o
impacto do CoderDojo Braga!

Copia este link para o teu browser para mostrares a tua disponibilidade:

<%= @link %>