Olá 

Vimos por este meio confirmar que o ninja não vai participar na próxima sessão.

A sessão irá decorrer no dia <%= display_date(@event.start_time) %>, entre as <%= display_time(@event.start_time) %> e <%= display_time(@event.end_time) %> 
no <%= @event.location.name %>.

Pode ver o perfil do ninja no seguinte link: <%= @link %>