Olá 👋

Infelizmente, informamos que o(a) ninja <%= display_name(@ninja) %> não foi selecionado(a) para participar na próxima sessão.

Agradecemos o interesse em participar no Coderdojo Braga. Tentaremos que o seu/ a sua ninja possa participar em sessões futuras.